.header {
  background-color: #000000;  
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  height:120px;
  position: relative;
margin-top: -3%;
}
.header img {
  margin-top: 4%;
  margin-left: 6%;
  width: 70px;
  height: 70px;
  background: rgb(0, 0, 0);
  
}


.example{
  margin-top: -4%;
}
.header form.example input[type=text] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid grey;
  margin-left: 14%;
  float: left;
  width: 40%;
  background: #f1f1f1;
}

.header form.example button {
  float: left;
  width: 3%;
  padding: 15px;
  background: #017602;
  color: rgb(2, 2, 2);
  font-size: 17px;

  border-left: none;
  cursor: pointer;
}
.header form.example button:hover {
  background: #00c703;
}

